*
    box-sizing border-box

html
    font-size 62.5%

    body
        display flex
        justify-content center
        margin 0
        font-family 'Open Sans', sans-serif
        font-size 1.6rem
        color #444
    
        a
            text-decoration none
    
        form *
        button
            font-family inherit
            font-size inherit
            color inherit
            background inherit
            border inherit
            
        form
            input[type='text']
            textarea
                border 1px solid

        .absent
            display none !important
        
        .invisible
            visibility hidden !important