*
    box-sizing border-box

html
    font-size 62.5%

body
    display flex
    justify-content center
    margin 0
    font-family Roboto, '.SFNSText-Regular', Helvetica Neue, Segoe UI, sans-serif
    font-size 1.6rem
    color #444
    
a
    color inherit

form
    
    input
        font-family inherit
        font-size inherit
        
    textarea
        font-family inherit
        font-size inherit

.absent
    display none !important

.invisible
    visibility hidden !important