*
    box-sizing border-box

html
    font-size 62.5%

    body
        display flex
        justify-content center
        margin 0
        font 400 1.6rem 'Open Sans', sans-serif
        color hsla(0,0,0,0.7)
    
        a
            text-decoration none

        ul
            margin 0
            padding 0
            
        pre
            margin 0
            padding 0
            
        button
            cursor pointer

        .absent
            display none !important
        
        .invisible
            visibility hidden !important