form *
button
    font-family inherit
    font-size inherit
    color inherit
    background inherit
    border inherit
    
form
    width 100%
    
    input[type='text']
    textarea
        border 1px solid hsla(0,0,0,0.25)
        
    input[type='submit']
        padding 8px
        
    .autosize
        position relative

        #comment
            position absolute
            top 0
            height 100%
            width 100%
            overflow hidden
            resize none
        
        #comment
        pre
            padding 8px
            white-space pre-wrap
            word-wrap break-word
            
        pre
            visibility hidden
            max-width 536px // hack because otherwise long words expand the body past post's max-width
        
    .row
        display flex
        justify-content space-between
        
    #title
        width 100%
        margin-bottom 16px
        padding 8px
        font-size 2.4rem
        
    #firstPost
        width 100%
        padding 8px
        white-space pre-wrap
        
    #L_file
        display inline-block
        padding 8px
        
    #file
        width 0px
        opacity 0
        position relative
        left -96px