form *
button
    font-family inherit
    font-size inherit
    color inherit
    background inherit
    border inherit
    
form
    input[type='text']
    textarea
        border 1px solid #ccc
        
    input[type='submit']
        padding 8px
        
    .row
        display flex
        justify-content space-between
        
    #title
        width 100%
        margin-bottom 16px
        padding 8px
        font-size 2.4rem
    
    #comment
    #firstPost
        width 100%
        padding 8px
        white-space pre-wrap
        background white
        resize none
        
    #L_file
        display inline-block
        padding 8px
        
    #file
        width 0px
        opacity 0
        position relative
        left -96px