.new_post-panel#newPostPanel
    .post-container
        .post-body
            form
                textarea.post-input#postInput(name='textInput') #{postInput}
                input.file-upload#postFileInput(type='file' name='fileInput')
                input.post-submit-btn#postSubmitBtn(type='submit')
        .post-meta
            button.cancel-floating-btn.absent#cancelFloatingBtn X
.new_post-panel.absent#newPostPanelSpacer
    .post-container
        .post-body
            form
                textarea.post-input
                input.file-upload
                input.post-submit-btn