form
    .post#newPost
        header
            .file
                input#file(type='file' name='file')
                label.btn#L_file(for='file') ➕
        .body
            .autosize
                pre
                    span#commentMirror
                    br
                textarea#comment(name='comment' placeholder='Write a comment...') #{comment}
        .options
            .btn#cancelFloating.absent Close
            input#submitPost(disabled type='submit' value='Submit')
#newPostSpacer.absent.invisible