#newPost
    .post
        header
        .body
            form
                textarea#comment(name='comment' placeholder='Write a reply...') #{comment}
                .row
                    label#L_file(for='file') Choose file
                    input#file(type='file' name='file')
                    input#submitPost(type='submit' value='Submit')
        .meta
            button#cancelFloating.absent X
#newPostSpacer.absent.invisible