.post#newPost
    header
    .body
        form
            textarea#comment(name='comment' placeholder='Write a reply...') #{comment}
            .row
                .file
                    label#L_file(for='file') Choose file
                    input#file(type='file' name='file')
                input#submitPost(type='submit' value='Submit')
    .options
        button#cancelFloating.absent X
#newPostSpacer.absent.invisible