.post#newPost
    header
    .body
        form
            .autosize
                pre
                    span#commentMirror
                    br
                textarea#comment(name='comment' placeholder='Write a comment...') #{comment}
            .row
                .file
                    label.btn#L_file(for='file') File...
                    input#file(type='file' name='file')
                input#submitPost(disabled type='submit' value='Submit')
    .options
        button#cancelFloating.absent Close
#newPostSpacer.absent.invisible