#newPost
    
    &.floating
        position fixed
        bottom 0
        border-top 1px solid gray
        background white
        
    #comment
        width 100%
        height 160px
        
    #file
        width 0px
        opacity 0
        position relative
        left -96px
        
    input[type='submit']
        float right
        
#newPostSpacer
    height 200px