@import '../../mixins'

#newPost
    margin-top 16px
    background white
    elevation 8px
    border 1px solid gray
    
    &.floating
        position fixed
        bottom 0
        width 100%
        elevation 24px
        
    .body
        padding 16px 8px
        
    header
    .options
        padding 20px 16px
        
#newPostSpacer
    height 133px