@import '../../mixins'

#newPost
    margin-top 16px
    background white
    
    &.floating
        position fixed
        bottom 0
        border-top 1px solid gray
        elevation 48px
        
    .header
    .body
    .options
        padding 16px 8px
        
#newPostSpacer
    height 133px