.postContainer
    .postNumber
    .postBody
        form
            textarea(name='content' class='newpost-textarea') #{postInput}
            input(type='submit' value='post' class='newpost-submit-btn')