.postContainer
    form
        .postNumber
        .postBody
            input(type='text' name='title' class='newthread-textinput')
            textarea(name='firstPost' class='newthread-textarea')
            input(type='submit' value='submit' class='newthread-submit-btn')