#main

    height 24px
    display flex
    background hsla(0,0,0,0.1)
    
    button
        padding 0 32px
        font-size 1.2rem

#threads

    li
        width 760px
        padding-top 16px
        list-style-type none
        display flex
        justify-content space-between
        
        a
            font-size 2rem
            
        .meta
            font-size 1.2rem
            font-weight 600