.post-container
    form
        .post-body
            input.thread-title-input(type='text' name='title')
            textarea.thread-firstPost-input(name='firstPost')
            input.thread-create-btn(type='submit' value='create')