form
    .post#newThread
        .body
            input#title(type='text' name='title' placeholder='Title' autofocus)
            textarea#firstPost(name='firstPost' rows='8' placeholder='Comment')
            .row
                .file
                    label.btn#L_file(for='file') File...
                    input#file(type='file' name='file')
                input#submitThread(disabled type='submit' value='Submit')