.post
    .body
        form
            label(for='title') Title
            input#title(type='text' name='title' placeholder='Describe the thread...' autofocus)
            label(for='firstPost') First post
            textarea#firstPost(name='firstPost' rows='8' placeholder='... and start the conversation.')
            .row
                .file
                    label.btn#L_file(for='file') File...
                    input#file(type='file' name='file')
                input#submitThread(disabled type='submit' value='Submit')