#title
    width 100%
    margin-bottom 16px
    font-size 2.4rem

#firstPost
    width 100%
    height 160px
    
#file
    width 0px
    opacity 0
    position relative
    left -96px

input[type='submit']
    float right