.post-container
    .post-body
        form
            label(for='title') Title
            input#title(type='text' name='title' autofocus)
            label(for='firstPost') First post
            textarea#firstPost(name='firstPost')
            .row
                label#L_file(for='file') Choose file
                input#file(type='file' name='file')
                input#submitThread(type='submit' value='Submit')