@import '../../mixins'

#newThread
    elevation 8px
    border 1px solid gray
    width 480px
    
    #countRow
        display flex
        justify-content flex-end
    
        #charCount
            height 16px
            font-size 1.2rem