.post-container
    .post-body
        form
            label Title
            input.thread-title-input(type='text' name='titleInput' autofocus='true')
            label First post
            textarea.thread-first-post-input(name='firstPostInput')
            input(type='file' name='fileInput')
            input.thread-submit-btn#threadSubmitBtn(type='submit' value='Submit')