hcw = 40px
hew = 16px
hw = hcw + hew
bw = 640px
mw = 160px
cw = hw + bw + mw + 10px

.post-container
    position relative
    @media screen and (max-width: cw)
        width 90vw
    @media screen and (min-width: cw)
        width cw
            
    &.expanded-image
        width: auto
    
    ::selection
        color white
        background #f33
    
    .post-header
        position absolute
        top 0
        bottom 0
        width hcw
        margin-left hew
        margin-top 16px
        // border-top 1px solid gray
        display inline-block
        vertical-align top
        font-family monospace
        color #999
        cursor pointer
        transition all 0.2s ease-out
            
        &:hover
        &:focus
            width hw
            margin-left 0
            color #666
        
        .post-reply-btn
            padding 4px 0
            border 0
            float right
            color inherit
            background inherit
            font-size 1.4rem
            font-family inherit
            cursor pointer
        
            .reply-hint
                float right
                
            .post-id
                float right
    
    .post-body
        @media screen and (min-width: cw)
            width bw
        margin-left hw
        padding 16px
        display inline-block
            
        &.expanded-image
            width: auto
        
        .post-image
            display inline-block
            vertical-align top
            // padding 0 16px 16px 0
            cursor pointer
            
        .post-image-full
            cursor pointer
            
        .post-text
            display inline-block
            max-width bw
            white-space pre-wrap
            font-size 1.6rem
            line-height 1.5
        
            a.backlink
                font-size 2rem
                font-family monospace
                text-decoration none
                background gray
                color white
                
                &:hover
                    background #ccc
                    
            .quote
                color #f33
        
    .post-meta
        @media screen and (min-width: cw)
            width mw
        @media screen and (max-width: cw)
            margin-left hw
        padding 16px 0 16px 16px
        font-size 1.2rem
        @media screen and (min-width: cw)
            display inline-block
        vertical-align top
        
        .post-time
            @media screen and (max-width: cw)
                display inline
            color #999
        
        .post-forelinks
            @media screen and (max-width: cw)
                margin-left 16px
                display inline
            
            a.forelink
                font-size 1.6rem
                font-family monospace
                text-decoration none
                background gray
                color white
                
                &:hover
                    background #ccc