@import '../mixins'

.post
    display flex
    max-width 800px
    
    ::selection
        color white
        background #f33
        
    a
    button
        margin-top 4px
        padding 2px 16px
        background hsla(0,0,0,0.1)
        color hsla(0,0,0,0.5)
        font 600 1.2rem 'Source Code Pro', monospace
        border-left 4px solid #f33
        
        &:hover
        &:focus
            background #f33
            color white
    
    header
        flex 0 0 @min-width
        min-width 116px
        padding 16px
        display flex
        flex-flow column wrap
        align-items flex-end
        color hsla(0,0,0,0.4)
        font-weight 600
        
        time
            font-size 1.4rem
    
    .body
        flex 1 1 auto
        padding 16px
        
        figure
            margin 4px 0
            margin-bottom 12px
            background hsla(0,0,0,0.1)
            cursor zoom-in
            
            .thumb
                display flex
                align-items center
                
                figcaption
                    flex 1 1 auto
                    padding-left 16px
                    display flex
                    justify-content space-between
                    color hsla(0,0,0,0.4)
                    font-size 1.6rem
                    font-weight 600
            
            img.full
                width 100%
                cursor zoom-out
            
        .comment
            white-space pre-wrap
                
            blockquote
                margin 4px 0
                padding-left 8px
                border-left 4px solid #f33
        
    .options
        flex 0 0 @min-width
        min-width 116px
        padding 16px