.postContainer
    width 864px
    margin 0 auto
    
    .postNumber
        width 48px
        height 48px
        display inline-block
        vertical-align top
        
        .postReplyBtn
            width 32px
            height 32px
            margin-left 8px
            margin-top 8px
            border-radius 32px
            border 1px solid
            text-align center
            
            .numberLg
                margin-top 3px
                font-size 20px
                
            .numberMd
                margin-top 6px
                font-size 16px
            
            .numberSm
                margin-top 9px
                font-size 12px
    
    .postBody
        width 608px
        padding 16px
        font-size 16px
        display inline-block
        white-space pre-wrap
        
        .backlink
            font-weight bold
        
    .postInfo
        width 128px
        padding 16px
        font-size 12px
        display inline-block
        vertical-align top
        
        .postTime
            color gray
        
        .postReplies
            font-weight bold